<!doctype html>
<html>
    <head>
    <title></title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    

        <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    </head>
    <body>
 <form >
               
                
                <div class ="container" >
                    <div class ="jumbotron text-center"> <!-- text-cemtre is used to allign text in jumbotron to center -->
                                    <h2>Please Choose The Option</h2>

                <p allign="center">
                <button type='submit' class="btn btn-lg btn-primary"  formaction="/add_bookmark/{{jsob}}">Add Bookmark</button>
<!--btn-lg for big size button , and s for small size buttons-->
            

                <button type='submit' class="btn btn-lg btn-info" formaction="/views/{{jsob}}">View Previous Bookmark</button>
                <button type='submit' class="btn btn-lg btn-success" formaction="/delete/{{jsob}}">Delete All</button>
                <button type='submit'class="btn btn-lg btn-warning" formaction="/export/{{jsob}}">Export</button>
                <button type="submit"class="btn btn-lg btn-danger" formaction="/import_file/{{jsob}}">Import</button>
                <button type="submit"class="btn btn-lg btn-info" formaction="/logout/{{jsob}}">Logout</button>
                </p>    
                                        </div>
                                        </div>    

            
</form>
{{temp}}
</body>
</html>

