 <!doctype html>
<html>
    <head>
    <title>Bootstrap layouts</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    

        <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    </head>
    <body>
    <form  method='post'>
  <div class ="container" >
                
                 Name:
                <br>
                <input type='text' name='Name' value={{d}}></input>
                <br>
                
                <br>
                
                Labels
                <br>

                <input type='text' name='Label' value={{f}} ></input>
                <br>
                Notes

                <br>
                <input type='text' name='Notes' value={{g}}></input>
                <br>
                

                <input type="submit" class="btn btn-lg btn-success" name='submit'></input>
                
               
               
               </div>
               </form>
               </body>
               <html>