<!doctype html>
<html>
    <head>
    <title>Bootstrap layouts</title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    

        <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    </head>
    <body>
         <form  method='post'>
                
                Please Enter Your Name:
                <br>
                <input type='text' name='Name' value=''></input>
                <br>
                Please Enter Your Email:
                <br>
                <input type='email' name='Email' value="" ></input>
                <br>
                Password:
                <br>

                <input type='password' name='Password' value='' ></input>
                <br>
                Confirm Password:

                <br>
                <input type='password' name='Confirm_Password' placeholder='Confirm Password'></input>
                <br>
                

                <input type='submit' class="btn btn-success" name='submit'></input>
               </form>
            </body>

            {{jsob}}
    </html>